body {
    background-color: lightgray;
}
div.container {
    width: 780px;
    min-height: 500px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container header > img {
    /*min-height: 100px;*/
    display: block;
}

.nav {
    text-align: right;
    /*background-color: #f3f3f4;*/
    /*border-right: #60663e solid 1px;*/
    /*margin-top: 1rem;*/
}

.nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 3px;
    /*padding: 5px;*/
}

.nav a:hover {
    text-decoration: underline;
}

.nav span:after {
    content: ' |';
}

.nav span:last-of-type:after {
    content: "";
}

.top {
    background-color: white;
    resize: horizontal;
}

.top a img {
    vertical-align: middle;
    /*max-height: 1%;*/
    max-width: 2%;
}


div.middle section.information aside.nav {
    float: left;
    width: 200px;
    padding-top: 5px;
    /*min-height: 600px;*/
    font-size: 85%;
}

aside.nav a {
    display: block;
    border-bottom: 1.5px solid #8a8e5f;
    font-size: 75%;
    padding: 8px;
    text-align: left;
    width: 150px;
    margin-left: 20px;
}

aside.nav div.humis-login a {
    margin: 350px 50px 0 20px;
    border-bottom-style: none;
    /* ^same as border-bottom: unset;^ */
}

aside.nav div.humis-login a:hover {
    background-color: unset;
}

aside.nav div.cis-login a {
    border-bottom-style: none;
}

aside.nav div.cis-login a:hover {
    background-color: unset;
}

aside.nav a:hover{
    background-color: #bcbd9c;
    text-decoration: underline;
}


div.middle section.information {
    background-color: #f3f3f4;
}

div.middle section.information article.main {
    float: right;
    width: 560px;
    background-color: #fff;
    /*padding: 0.5rem;*/
    padding-right: 1rem;
    border-left: #60663e solid 1px;
}


article.main h1 {
    color: #c41230;
    font-weight: bold;
    font-size: 93%;
    text-transform: uppercase;
    margin: 40px 0 10px 30px;
}

div.content {
    margin: 0 40px 200px 15px;
}


div.content p {
    margin-top: 0;
    font-size: 80%;
    margin-left: 15px;
}

.bottom {
    background-color: white;
    padding: 0 0 5px 0;
}

.bottom a {
    text-transform: lowercase;
    font-size: 9px;
}

footer {
    background-color: #737b35;
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 5px 0;
}