body {
    background-color: lightgray;
}
div.container {
    border: 1px solid blue;
    width: 780px;
    min-height: 500px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.nav {
    text-align: right;
    background-color: #f3f3f4;
    border-right: #60663e solid 1px;
    /*margin-top: 1rem;*/
}

.nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 3px;
    padding: 5px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav span:after {
    content: ' |';
}

.nav span:last-of-type:after {
    content: "";
}

.top {
    background-color: white;
}

.top a img {
    vertical-align: middle;
    max-height: 2%;
    max-width: 2%;
}

div.middle section.information aside.nav {
    float: left;
    width: 220px;
    /*min-height: 600px;*/
    font-size: 85%;
}

aside.nav a {
    display: block;
    border-bottom: 1.5px solid #8a8e5f;
    font-size: 75%;
    padding: 10px;
    text-align: left;
    width: 150px;
    margin-left: 25px;
    background-color: #f3f3f4;
    position: relative; top: 0; right: 10px;
    z-index: 1;
}

aside.nav div.humis-login a {
    margin: 180px 50px 0 20px;
    border-bottom-style: none;
    /* ^same as border-bottom: unset;^ */
}

aside.nav div.humis-login a:hover {
    background-color: unset;
}

aside.nav div.cis-login a {
    border-bottom-style: none;
}

aside.nav div.cis-login a:hover {
    background-color: unset;
}

aside.nav a:hover{
    background-color: #bcbd9c;
    text-decoration: underline;
}



div.middle section.information article.main {
    float: right;
    width: 530px;
    background-color: #fff;
    padding: 0.5rem;
}


article.main h1 {
    color: #c41230;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}


div.content p {
    margin-top: 0;
    font-size: 80%;
}

.bottom {
    background-color: white;
}

.bottom a {
    text-transform: lowercase;
    font-size: 9px;
}

footer {
    background-color: #60663e;
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 5px 0;
}